<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1><%= title %></h1>
    <div>
    <form action = '' method="POST">
      Title : <input type=text name='inputtitle' id='inputtitle'>
      Author : <input type=text name="inputauthor" id="inputauthor">
      <button type="submit">Add book</button>
    </div>
  </body>
</html>
